<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
    <title>Add A Snippet</title>
  </head>
  <body>
    <header>
      <h2>Snippet Entry Page</h2>
    </header>
    <main>
      <form>
        <h4>Add Your Snippet Here:</h4>
        <input type="text" name="title" placeholder="Title"><br>
        <input type="text" name="language" placeholder="Language"><br>
        <input type="test" name="tag" placeholder="Tag"><br>
        <textarea name="code" placeholder="Code Snippets Here" rows="25" cols="100"></textarea><br>
        <textarea name="notes" placeholder="Add Notes Here" rows="10" cols="100"></textarea><br>
        <button type="submit" action="/signup" method="POST">Register</button>
      </form>
    </main>
  </body>
</html>
