<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
    <title>Snippets Home</title>
  </head>
  <body>
    <header>
      <h2>Welcome To The Magniful Code Snippet Organizer</h2>
      <h3>Please Log In Below or <a href="/snippets/signup">Click Here To Sign Up</a></h3>
    </header>
    <main>
      <form action="/snippets/home" method="POST">
        <h4>Register:</h4>
        <input type="text" name="username" placeholder="User Name"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Log Me In</button>
      </form>
    </main>
  </body>
</html>
